<div class="">
   
    <Button class="tutBtns"><a routerLink="/cellPhones">
      <span class="btnLabel">Cell Phones</span>
      <img class="list-item-icon" height="50px" width="50px" 
      src="assets\phoneIconWithLight.png" alt="">
   
  
  
    </a></Button> <br />
  
  </div>
<a routerLink="/cellPhones/email">Show me how to email</a>

<video width="500" height="450" controls>
  <source src="assets\handrailBoardslide.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>