
<header>
    <div class="container">
        <a routerLink="/" class="logo">{{appTitle}}</a>
        <nav>
            <ul class="menu">
                <li class="menu-item"><a routerLink="/">home</a></li>
              <!--  <li><a routerLink="/audio">audio</a></li> -->
              
                <li class="menu-item" (mouseenter)="showTopics=true" (mouseleave)="showTopics=false">
                    <a routerLink="/tutorials">tutorials</a>
                    <ul (mouseenter)="showTopics=true" (mouseleave)="showTopics=false" class="sub-menu" *ngIf="showTopics">
                        <li class="sub-menu-item"><a routerLink="/tutorials/cell-phones">Cell Phones 
                            </a></li><br/>
                        <li class="sub-menu-item"><a routerLink="/tutorials/computer">Computer 
                            </a></li><br/>
                        <li class="sub-menu-item"><a routerLink="/tutorials/software">Software 
                            </a></li><br/>
                        <li class="sub-menu-item"><a routerLink="/tutorials/marketing">Marketing 
                            </a></li><br/>         
                        </ul>
                </li>       
                <li class="menu-item">
                    <a routerLink="/store">store</a></li>
                <!-- <li><a routerLink="/cellular">cellular</a></li> -->
                <li class="menu-item"><a routerLink="/contact">contact</a></li>
                <!--<li><a routerLink="/deals">deals</a></li>-->
                <!-- <li><a routerLink="/desktopPeripherals">Desktop Peripherals</a></li>
                <li><a routerLink="/homeAudio">Home Audio</a></li>
                <li><a routerLink="/pcComponents">PC Components</a></li> -->
                <li class="menu-item"><a routerLink="/reviews">reviews</a></li>
               <!--  <li><a routerLink="/vr">VR</a></li> -->
            </ul>
        </nav>
    </div>
</header>