<header>
    <div class="container">
        <a routerLink="/" class="logo">{{appTitle}}</a>
        <nav>
            <ul>
                <li><a routerLink="/">home</a></li>
                <li><a routerLink="/audio">audio</a></li>
                <li><a routerLink="/cellular">cellular</a></li>
                <li><a routerLink="/contact">contact</a></li>
                <li><a routerLink="/deals">deals</a></li>
                <li><a routerLink="/desktopPeripherals">Desktop Peripherals</a></li>
                <li><a routerLink="/homeAudio">Home Audio</a></li>
                <li><a routerLink="/pcComponents">PC Components</a></li>
                <li><a routerLink="/reviews">reviews</a></li>
                <li><a routerLink="/vr">VR</a></li>
            </ul>
        </nav>
    </div>
</header>