/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.menu { 
    height: 30px;
    padding: 0 10px;
}

.menu > li {
    display: block;
    width: 150px;
    line-height: 30px;
}


.sub-menu{
    position: absolute;
    display: none;
    background-color: #8E2BFF;
    top: 80px;
    
}


.sub-menu-item{
    display: block;
    cursor: pointer;
    width: 200px;
    height: 50px;
    background-color: #8E2BFF;
}


li:hover .sub-menu {
    display: block;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    
}

.sub-menu-item:hover a{
    background-color: lightgreen;
    border: none;
}

.btnLabel{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

.tutBtns{
    width: 150px;
    height: 150px;
    display: block;
}

.list-item-icon, img{
    
    height: 100px;
    width: 100px;
}

.bio{
    width: 500px;
    display: inline-block;
}