<div class="">
  <span>What help do you need?</span><br/>
  <Button class="tutBtns"><a routerLink="/cellPhones">
    <span class="btnLabel">Cell Phones</span>
    <img class="list-item-icon" height="50px" width="50px" 
    src="assets\phoneIconWithLight.png" alt="">
    
  </a></Button> 
  <span class="bio"><a routerLink="/cellPhones">Click here</a> 
    for help with your cell phone.
    Topics range from setting up your email, backing up your data,
     adding contacts, to simply making a phone call on your smartphone.
     No matter the problem the Nest has your back!
  </span>
  <br />
  
  <Button class="tutBtns"><a routerLink="/computer">
    <span class="btnLabel">Computer</span>
    <img class="list-item-icon" height="50px" width="50px" 
    src="assets\computerIcon.png" alt="">

  </a></Button> 
  <span class="bio"><a routerLink="/computer">Click here</a> 
    for help with your computer.
    No matter if it be a windows or a mac the Nest has got your back! Our experts 
  will make quick work of any troubleshooting on the live chat.
We will work together to even build our our desktop pc. Watch videos on
how to perform repairs on laptops and desktop peripherals. </span><br />
  
  <Button class="tutBtns"><a routerLink="/software">
    <span class="btnLabel">Software</span>
    <img class="list-item-icon" height="50px" width="50px" 
    src="assets\softwareIcon.png" alt="">


  </a></Button> 
  <span class="bio"><a routerLink="/software">Click here</a> 
    for help with various softwares.
    Topics range from setting up your email, backing up your data,
     adding contacts, to simply making a phone call on your smartphone.
     No matter the problem the Nest has your back!
  </span><br />

</div>